/* navigation section */

.navbar{
  padding:1% 5%;
}

.navbar-brand:hover{
  color:#ffc107;
}

.nav-container{
  padding-left: auto;
}

/* Hero Section */

.hero-image{
  width:80%;
}

.image-column{
  text-align: center;
}

.herosection-slide{

  background-color: green;
  padding:6% 10%;
  text-align: left;
}

#header-text{
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
  margin-bottom:5%;
  color:#ffff;
  font-size: 80px;
  text-align: left;
}

.developer-name{
  color:#ffc107;
}


/* About me Section */

.aboutme-container{
  text-align:center;
  color: green;
  padding:5% 15%;
}

.profile-image{
  border-radius: 5%;
  border:3px solid;
  width:50%;
  margin-top: 5%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profile-block{
  height:100px;
  width:100px;
  background-color: green;
  border-radius: 5%;
  position:relative;
  top:10%;
  left:10%;
  z-index: -1;
}

.profile-block-2{
  height:100px;
  width:100px;
  background-color: #ffc107;
  border-radius: 5%;
  position:relative;
  bottom:10%;
  left:60%;
}

.aboutme-content{
  text-align: left;
  margin:2% 0%;
}

#header2{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:#ffc107;
  margin-bottom: 8%;
}

.skill-icon{
  display: inline;
  margin-right: 10px;
}


/* Service Section */


.card-icon{
  height: 40%;
  width: 20%;
  background-color: #ffc107;
  text-align: center;
  border-radius: 100%;
}

.web-card{
  background-color: green;
  color:#ffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
}

.service-card{
  padding:5%;
}

.container #header2{
  margin-bottom: 2%;
  text-align: center;
}


/* Testimonial Section */

.slide-content{
  text-align: center;
  width:30%;
  border:1px solid;
  position: relative;
  left:35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-slider #header2{
  text-align: center;
  margin:2%;
}

.slide-content{
  text-align: center;
  padding:2%;
  padding-bottom: 0%;
  margin-bottom: 2%;
  border-radius: 2%;
}

/* Get in Touch Section */

.contactus-form-section #header2{
  text-align: center;
  margin: 2% auto;
}


.Contact-form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:5%;
  margin:2% 30%;
}

/* Footer Section */

.social-media{
  background-color: green;
  color:white;
  text-align: center;
  padding: 2%;
}

.social-icon{
  color: white;
  margin-right: 2%;
  margin-top: 2%;
}

.credit{
  margin:2%;
  margin-bottom: 0%;
}

@media (max-width:1200px)
{
  #header-text{
    text-align: center;
  }

  .container-fluid{
    text-align: center;
  }

  .download-button{
    margin:5% 2%;
  }

  .aboutme-content{
    text-align: center;
    margin:2% 0%;
  }

  .Contact-form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:5%;
    margin:4% 10%;
  }
}
